<div data-page="settings" class="page">
    <div id="settings" ng-controller="SettingsCtrl">
        <div class="page-content">
            
            
            
            <!-- Left Panel with Reveal effect -->
            <div ng-controller="SettingsCtrl as vm">
                <div class="content-block">
                    <!-- Click on link with "close-panel" class will close panel
                     <p><a href="#" class="close-panel">Close me</a></p>
                     Click on link with "open-panel" and data-panel="right" attribute will open Right panel
                     <p><a href="#" data-panel="right" class="open-panel">Open Right Panel</a></p> -->
                    
                    <form id="settings-form" class="list-block">
                        <div class="content-block-title">Settings</div>
                        
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner row">
                                        <div class="item-title">IP Address</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="vm.ipAddress" placeholder="Enter IP Address">
                                                </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner row">
                                        <div class="item-title">User Name</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="vm.username" placeholder="Enter User Name">
                                                </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner row">
                                        <div class="item-title">Password</div>
                                        <div class="item-input">
                                            <input type="password" ng-model="vm.password" placeholder="Enter Password">
                                                </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner row">
                                        <div class="item-title">Upload Location</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="vm.uploadDir" placeholder="Enter Upload Location">
                                                </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner row">
                                        <div class="item-title">Album Name</div>
                                        <div class="item-input">
                                            <input type="text" ng-model="vm.albumName" placeholder="Enter Album Name">
                                                </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div ng-click="vm.saveSettings()" class="button button-big button-fill color-blue">Save</div>
                            </li>
                        </ul>
                        
                    </form>
                    
                    
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>
