<div  layout="column" layout-align="center center">
	<h3>Contacts Page</h3>
	<div class="md-button md-fab md-raised md-primary" style="line-height: 5.1rem; min-width: 0; width: 5.1rem; height: 5.1rem; border-radius: 50%;" ng-click="vm.getContacts()">
		<md-icon class="material-icons"  style="position: relative; display: inline-block; left: -21px; top: -20px; font-size: 75px;" aria-label="Get Total Contacts">info_outline</md-icon>
	</div>
	<div class="md-button md-fab md-raised md-primary" style="line-height: 5.1rem; min-width: 0; width: 5.1rem; height: 5.1rem; border-radius: 50%;" ng-click="vm.saveContacts()">
		<md-icon class="material-icons"  style="position: relative; display: inline-block; left: -21px; top: -20px; font-size: 65px;" aria-label="Upload Contacts">file_upload</md-icon>
	</div>
	<div class="md-button md-fab md-raised md-primary" style="line-height: 5.1rem; min-width: 0; width: 5.1rem; height: 5.1rem; border-radius: 50%;" ng-click="vm.restoreContactsFromServer()">
		<md-icon class="material-icons"  style="position: relative; display: inline-block; left: -21px; top: -22px; font-size: 75px;" aria-label="Restore Contacts">restore</md-icon>
	</div>
	<div class="md-button md-fab md-raised md-primary" style="line-height: 5.1rem; min-width: 0; width: 5.1rem; height: 5.1rem; border-radius: 50%;" ng-click="vm.deleteContacts()">
		<md-icon class="material-icons" style="position: relative; display: inline-block; left: -21px; top: -19px; font-size: 65px;" aria-label="Delete Contacts">delete_forever</md-icon>
	</div>
	
</div>