<div layout="column">
	<div style="display: inline-block;">
		<div style="text-align: left; width: 30%; font-size: 21px; font-weight: bold;">Contacts</div>
        <div style="text-align:right; font-size: 12px; width: 30%;">Total: {{vm.contacts.length}}</div>
		<!--<div layout-align="right">
			<md-icon style="width: 62px; height: 62px; position:absolute;" md-svg-src="./res/ic_people.svg"></md-icon>
			<div style="position: relative; width: 28px; height: 28px; font-size: 8pt; z-index:10;">{{vm.contacts.length}}</div>
		</div>-->
	</div>
	<dash-button button-action="vm.saveContacts($event)" action-description="vm.backupActionDesc" warning-description="vm.backupWarningDesc" dash-svg-src="vm.backupIcon"></dash-button>
	<dash-button button-action="vm.restoreContactsFromServer($event)" action-description="vm.restoreActionDesc" warning-description="vm.restoreWarningDesc" dash-svg-src="vm.restoreIcon"></dash-button>
	<dash-button button-action="vm.deleteContacts($event)" action-description="vm.deleteActionDesc" warning-description="vm.deleteWarningDesc" dash-svg-src="vm.deleteIcon"></dash-button>
	
     <!--<div flex layout-align="center center" style="margin: 2%; position: relative; width: 95%;" md-whiteframe="7" md-ink-ripple ng-click="vm.restoreContactsFromServer($event)">
         <md-icon style="background-color: #0B7CDC; width: 25%; height: 100%; top: 0;" layout-align="left" md-ink-ripple md-svg-src="./res/ic_restore.svg"></md-icon>
         <div flex style="font-size: 14px; text-align: left; position: a
		 bsolute; word-wrap: break-word; display: inline-block;">
		 
		 Restore all contacts from the server for this user. 
		 <div style="color: red; font-style: oblique; font-size: 12px;">
		 WARNING: This will overwrite ALL contacts on your device!</div></div>
     </div>-->
<!--
    <div flex layout-align="center center" style="margin: 2%; position: relative; width: 95%;" md-whiteframe="7" md-ink-ripple ng-click="vm.deleteContacts($event)">
        <md-icon style="background-color: #0B7CDC; width: 25%; height: 100%; top: 0;" layout-align="left" md-ink-ripple md-svg-src="./res/ic_delete_forever.svg"></md-icon>
        <div style="font-size: 14px; text-align: left; position: absolute; word-wrap: break-word; display: inline-block;">
		
		Delete all {{vm.contacts.length}} of your contacts from your device. <div style="color: red; font-style: oblique; font-size: 12px;">
		WARNING: The only way to recover your contacts is if you have a backup somewhere. Proceed with Caution!</div></div>-->
    </div>
</div>
