<div layout="column" flex>
	<input type="file" accept="image/*" id="imageInput" multiple class="ng-hide fileInput">
	<dash-button button-action="clickInput()" action-description="addActionDesc" dash-svg-src="addIcon"></dash-button>
	<dash-button button-action="vm.submit()" action-description="uploadActionDesc" dash-svg-src="uploadIcon"></dash-button>
</div>
<md-card flex layout="row" layout-wrap flex="25" id="albumReview" class="album" ng-show="selectedPhotos.length > 0">
	<div class="full-width-label">Total Selected: {{ selectedPhotos.length }}</div>
	<div class="full-width-label">Photos:</div>
	<div ng-repeat="photo in selectedPhotos">
		<img class="image-display" src="{{photo.dataUrl}}" ng-click="showGallery(photo.fileName)" />
	</div>
</md-card>
<md-button ng-show="selectedPhotos.length > 0" ng-click="clearAll()">clear all</md-button>
<div class="fullscreen-container" id="fullScreen" ng-show="fullScreenObj" layout="column" layout-align="center center">
	<!--<md-button ng-click="closeFullScreen()">close</md-button>-->
	<img class="fullscreen-image" src="{{fullScreenObj.dataUrl}}">
		<md-button style="position: absolute; font-size: 1.8rem;"class="md-fab md-fab-top-right md-mini" aria-label="close photo" ng-click="closeFullScreen()">
			X
		</md-button>
	</img>
</div>



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    
				<!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>
                
                
                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">
                    
                    <!-- Container that holds slides.
                     PhotoSwipe keeps only 3 of them in the DOM to save memory.
                     Don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    
                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">
                        
                        <div class="pswp__top-bar">
                            
                            <!--  Controls are self-explanatory. Order can be changed. -->
                            
                            <div class="pswp__counter"></div>
                            
                           
                            <!--<button style="color: white;" class="pswp__button pswp__button--close" title="Close (Esc)">WTF</button>
                            
                            <button  style="color: white; top: 15px;" class="pswp__button pswp__button--share" title="Share">shizaare</button>
                            
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>-->
                            
                            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div> 
                        </div>
                        
                       <!-- <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>
                        
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>-->
                        
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                        
                    </div>
                    
                </div>
</div>
