<file-input input-type="'image'" on-photo-loaded="vm.onPhotoLoaded(photo)"></file-input>
<div>Total in Album: {{vm.photos.length}}</div>

<div> Total selected: {{vm.allPhotos.length}}</div>





<div id="photo-gallery" class="use-gpu" style="width: 100%; float: left; margin: 0 0 50px 0;" md-swipe-right="vm.closeGallery()">
    <md-content flex style="border: 1px solid black; width: 100%; height: 100%;" layout="column">
        <md-content id="scrollArea" flex layout="row" layout-align="start start" layout-wrap style="height: 100%; width: 100%;">
            <div ng-repeat="photo in vm.photos" flex="nogrow" style="width: 50%; height: 28%; position: relative;">
                
               <!-- <img id="{{photo.pid}}" ng-style="vm.styles[$index]" src="{{photo.dataUrl}}" ng-click="vm.showGallery(photo.pid)" >-->
               <div style="width: 100%; height: 100%; background-color: black; padding-top: 1px; padding-bottom: 1px;">
                   <img id="{{photo.pid}}" ng-style="vm.styles[$index]" src="{{photo.dataUrl}}" ng-click="vm.showGallery(photo.pid)" >
                </div>
                
            </div>
            <!--<md-button class="md-raised md-primary" ng-show="vm.displayShowMoreIcon" style="width: 50%; color: white; position: absolute; left: 50%; top: 95%;" ng-click="vm.getNextTwelve()">Load more...</md-button>
            -->
           
        </md-content>
        
    </md-content>
    
</div>

<md-button ng-click="vm.getNextTwelve()" ng-show="vm.displayShowMoreIcon" style="z-index: 9999; position: fixed !important;" class="md-fab md-fab-bottom-right" aria-label="test">
        <md-icon>add</md-icon>
    </md-button>



<label ng-click="vm.submit()" md-whiteframe="4" md-ink-ripple style="margin: 2%; position: relative; width: 95%;">
    <md-icon style="pointer-events: none; background-color: #0B7CDC; width: 13%; height: 100%; display: inline-block;" md-svg-src="./res/ic_file_upload.svg"></md-icon>
    <div style="position: absolute; display: inline-block;">
        upload album
    </div>
</label>

<md-button style="width: 95%;" class="md-primary md-raised" ng-click="vm.clear()">CLEAR GALLERY</md-button>
<md-button style="width: 95%;" class="md-primary md-raised" ng-click="vm.openGallery()">open GALLERY</md-button>



    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        
        <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
        
        
        <!-- Slides wrapper with overflow:hidden.  -->
        <div class="pswp__scroll-wrap">
            
            <!-- Container that holds slides.
             PhotoSwipe keeps only 3 of them in the DOM to save memory.
             Don't modify these 3 pswp__item elements, data is added later on.  -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.  -->
            <div class="pswp__ui pswp__ui--hidden">
                
                <div class="pswp__top-bar">
                    
                    <!--  Controls are self-explanatory. Order can be changed.  -->
                    
                    <div class="pswp__counter"></div>
                    
                    
                    <button style="color: white;" class="pswp__button pswp__button--close" title="Close (Esc)">WTF</button>
                    
                    <button  style="color: white; top: 15px;" class="pswp__button pswp__button--share" title="Share">shizaare</button>
                    
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
                
            </div>
            
        </div>
    </div>
      </div>
    </div>

