<md-toolbar style="background-color: #4d4d4d;">
	<div class="md-toolbar-tools">
		<settings username="username" password="password" upload-dir="uploadDir" album-name="albumName" ip-address="ipAddress"></settings>
		<md-icon class="material-icons toolbar-icon" md-ink-ripple ng-click="vm.go('/photos')">photo_camera</md-icon>
		<md-icon class="material-icons toolbar-icon" md-ink-ripple ng-click="vm.go('/videos')">play_circle_fill</md-icon>
		<md-icon class="material-icons toolbar-icon" md-ink-ripple ng-click="vm.go('/contacts')">people</md-icon>
	</div>
</md-toolbar>
