<md-content style="background-color: #BDBDBD;" flex>

	<br />
		<file-input selected-photos="vm.photos" selected-videos="vm.videos"></file-input>
	
	
	<div>
		<md-icon ng-click="vm.submit()" style="width: 40px; height: 40px; class="material-icons toolbar-icon" md-ink-ripple ng-show="vm.photos.length >= 0 || vm.videos.length >= 0">file_upload</md-icon>
	</div>
<!--
	<md-button ng-click="vm.getContacts()">get contacts from phone</md-button>
	<md-button ng-click="vm.saveContacts()">SAVE CONTACTS to server</md-button>
	<md-button ng-click="vm.createContact()">CREATE test CONTACT</md-button>
	<md-button ng-click="vm.restoreContactsFromServer()">restore contacts from server</md-button>
	<div style="background-color: green;"> {{ vm.totalRestored}}  </div>

	-->
	
	
</md-content>

<!--<div layout="column" flex>

	-<dash-input selected-items="vm.photos" submit-action="vm.submit()" input-type="'image'"></dash-input>

	<h3>
	<md-icon class="material-icons">photo_camera</md-icon>
		Upload Photos
		<md-icon class="material-icons">photo_camera</md-icon>
	</h3>
    
   <dash-input input-type="'image'"></dash-input>
    
	<photo-input selected-photos="vm.photos" submit-action="vm.submit()"></photo-input>
	
	<md-button ng-click="vm.successAlert()">Success alert test</md-button>
	<md-button ng-click="vm.errorAlert()">Error alert test</md-button>
</div>
-->