/*@font-face {
	font-family: 'CaptureIt';
	src: url('../fonts/Capture_it.ttf'); 
	 url('../fonts/Capture_it.ttf')  format('truetype'),
}*/

@font-face {
	font-family: 'ColaborateLight';
	src: url('../fonts/ColabLig.otf');
	src: url('../fonts/ColabLig.otf') format('opentype');/* Safari, Android, iOS */
}

body {
	background-color: #BDBDBD;
	text-transform: none;
	font-family: ColaborateLight;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

md-icon svg{
    fill: inherit;
}

.full-width-label {
	width: 100%;
}

.dash-toolbar {
	background-color: #4d4d4d;
}

.album {
	background-color: #9E9E9E;
}

.toolbar-icon {
	position: relative;
	background-color: #4d4d4d; 
	font-size: 32px;
}
.image-display {
	width: 65px;
	height: auto; 
	padding: 0 10px 0 10px;
}

.fullscreen-container {
	z-index: 9999;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #9E9E9E;
}
.fullscreen-image {
    position: relative;
	width: 90%;
	height: auto;
}
/*.md-button {
background: -webkit-linear-gradient(-90deg, #448aFF, #2962FF);
}*/

.label-button {
	position: relative; 
	width: 50%;
	background: -webkit-linear-gradient(top, #545454, #929292);
	/*border-radius: 5px;*/
	font-size: 24pt;
	text-align: center; 
	color: white;
}

.label-button.video-input{
    border-left: 1px solid #929292;
}

.label-button.image-input {
    border-right: 1px solid #929292;
}

.md-button:not([disabled]):hover {
	background-color: #1E88E5;
}
.md-button[disabled] {
	background-color: #E0E0E0;
}
.file-input-container{
	
}
/*
.settings-input {
    background-color: #b1b1b1;
    color: white;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}*/
/*
.dash-fab-icon {
	position: relative;	display: inline-block;	left: -11px;	top: -8px; 	font-size: 48px;
}
*/
.fileInput {
	opacity: 0;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: grey;
}
