@font-face {
font-family: 'CaptureIt';
src: url('../fonts/Capture_it.ttf'); 
     url('../fonts/Capture_it.ttf')  format('truetype'), /* Safari, Android, iOS */
font-weight: bold;
}

body {
    text-transform: none;
	font-family: CaptureIt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.lowercase {
    text-transform: none;
}
 
/*
 Allow angular.js to be loaded in body, hiding cloaked elements until
 templates compile.  The !important is important given that there may be
 other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
} 
.md-button {
   background: -webkit-linear-gradient(-90deg, #448aFF, #2962FF);
}

.md-button:not([disabled]):hover {
    background-color: #1E88E5;
}
.md-button[disabled] {
    background-color: #E0E0E0;
}
.file-input-container{
    width: 95%;
}

.fileInput {
  opacity: 0;
  display: inline-block;
 position: absolute;
   top: 0;
  left: 0;
  /*background-repeat: no-repeat no-repeat;
  pointer-events: none;
  margin: 5px auto auto;*/
  
  /*margin: 5px auto auto;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;*/
}






