<div class="navbar">
    <div class="navbar-inner">
        
        <!-- Center and Right parts reflect page title and page links, let's slide them -->
        <div class="center sliding">Contacts</div>
        <div class="right sliding">
            <a href="settings.html" class="link"><i class="f7-icons">settings_fill</i></a>
        </div>
    </div>
</div>
<div data-page="contacts" class="page">
	<div class="page-content">
		<div ng-controller="ContactsCtrl as vm">
			<div class="content-block-title">Total -> {{ vm.contacts.length || 0}}</div>
			<p class="buttons-row theme-lightblue">
				<div ng-click="vm.getContacts()" class="button button-fill button-big">get contacts from device (temp)</div>
				<div ng-click="vm.uploadContacts()" class="button button-fill button-big">Upload contacts to your PC</div>
			</p>
		</div>
    </div>
</div>
