<div class="popup popup-settings modal-in" style="background-color: #222426; font-size: 12px;">
	<div class="content-block">
		<div class="content-block-title">{{title}}</div>
		<div class="list-block">
		  <ul>
		  <li>
			  <div class="item-content">
				<div class="item-media"><i class="icon f7-icons">home</i></div>
				<div class="item-inner">
				  <div class="item-input">
					<input ng-model="userSettings.uploadDir" type="text" placeholder="Upload Directory(ex. C:\photos)" required>
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-media"><i class="icon f7-icons">folder</i></div>
				<div class="item-inner">
				  <div class="item-input">
					<input ng-model="userSettings.albumName" type="text" placeholder="Album Name" required>
				  </div>
				</div>
			  </div>
			</li>
			 <li>
			  <div class="item-content">
				<div class="item-media"><i class="icon f7-icons">person</i></div>
				<div class="item-inner">
				  <div class="item-input">
					<input ng-model="userSettings.username" type="text" placeholder="User Name" required>
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-media"><i class="icon f7-icons">lock</i></div>
				<div class="item-inner">
				  <div class="item-input">
					<input ng-model="userSettings.password" type="password" placeholder="Password" required>
				  </div>
				</div>
			  </div>
			</li>
			<li>
			  <div class="item-content">
				<div class="item-media"><i class="icon f7-icons">world</i></div>
				<div class="item-inner">
				  <div class="item-input">
					<input ng-model="userSettings.ipAddress" type="text" placeholder="IP Address" required>
				  </div>
				</div>
			  </div>
			</li>
		  </ul>
		</div>
		<p>
			<a ng-click="next()" class="button button-fill button-big color-green"><i class="f7-icons">images<sup>add</sup></i>
			Photos
			</a>
		</p>
		<p><a ng-click="closeSettings()" class="button button-fill button-big color-gray">
			Cancel
		</a></p>
	</div>
</div>